<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database item</title>
</head>
<body>
    <h1>Model #<%= datasDb %></h1>
    <h3><%= data.Car %></h3>
    <h3>Make: <%= data.Muscle ? 'Muscle' : 'JDM' %></h3>
    
    
        <li>
          <form action="/datas/<%= data.id %>?_method=DELETE"
            class="delete-form" method="POST">
            <button type="submit">DELETE <%= data.Car %> </button>
          </form>

          <a href="/datas/<%= data.id %>/edit">Edit Car</a>

          <a href="../datas/">Return to Skills List</a>
</body>
</html>